.container{
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 100% 1fr;
  }
  .left {
    grid-column:1;
    overflow: hidden;
    border: 30px blue solid;
    
  }
  
  .right {
    grid-column:2;
    overflow: hidden;
    border: 30px gainsboro solid;
  }
  
  
  /* 111111111111 */
  .circle{
      height: 300px;
      width: 300px;
      background-color: blue;
      border-radius: 1000px;
      margin-left: 10px;
  }
  .circlesmall{
      height: 200px;
      width: 200px;
      background-color:white;
      border-radius: 1000px;
     
    
  }
  
  
  /* 222222222222222 */
  /* 
  body {font-family: Arial, Helvetica, sans-serif;}
  * {box-sizing: border-box} */
  
  /* Full-width input fields */
  .foo {
    background: gainsboro;
    width: 65%;
    border-radius: 18px;
    margin-left: 120px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 80px;
    
  
    
  }
  input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
   
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    /* background-color: #04AA6D; */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: blue;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .containerr {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix {
    content: "";
    clear: both;
    display: table;
    border-radius: 10px;
    width: 90%;
    background: blue;
  .poo{
    text-transform: display: display: ;;;
  }
  }
  .icons{
    font-size: 20px;
    
  }
  .fooo{
   padding-top: 400px;
   margin-left: 40px;
    
  }
  